[% start_year=2015 %]
=encoding UTF-8

=head1 NAME

Hazy::Cosmic::Jive - abstract here.

=head1 SYNOPSIS

    use Hazy::Cosmic::Jive;

=head1 DESCRIPTION

=head1 FUNCTIONS

=cut
[% INCLUDE "author" %]
[% INCLUDE "terminology" %]
